
task2_Prime_number/Release/task2_Prime_number.Build.CppClean.log
task2_Prime_number/task2_Prime_number.vcxproj.user
task2_Prime_number/Release/task2_Prime_number.vcxproj.FileListAbsolute.txt
task2_Prime_number/Release/task2_Prime_number.log
task2_Prime_number/Debug/task2_Prime_number.vcxproj.FileListAbsolute.txt
task2_Prime_number/Debug/task2_Prime_number.log
task2_Prime_number/Debug/task2_Prime_number.exe.recipe
task2_Prime_number/Debug/task2_Prime_number.Build.CppClean.log
.vs/task2_Prime_number/v16/ipch/AutoPCH/95c6b453e4465b30/SOURCE.ipch
.vs/task2_Prime_number/v16/ipch/AutoPCH/4b6abb6ae6c533e/SOURCE.ipch
.vs/task2_Prime_number/v16/Browse.VC.opendb
.vs/task2_Prime_number/v16/Browse.VC.db-wal
.vs/task2_Prime_number/v16/Browse.VC.db-shm
.vs/task2_Prime_number/v16/Browse.VC.db
.vs/task2_Prime_number/v16/.suo
